<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</head>

<body>

  <ul class="menu">

    <li title="Beranda">
      <a th:href="@{'index'}" class="home page-now">Beranda</a>
    </li>
    <li title="Pengaduan">
      <a th:href="@{'pengaduan'}" class="pencil">Pengaduan</a>
    </li>
    <li title="Profil">
      <a th:href="@{'profil'}" class="profile">Profil</a>
    </li>
    <li title="Admin">
      <a th:href="@{'berandaAdmin'}" class="exchange">Admin</a>
    </li>
  </ul>

  <div class="content">
    <img src="images/logo.jpg" alt="Logo">

    <div class="wellcome-banner">
      <p class="bold-ticker">Selamat datang di halaman pengaduan online Dinas Komunikasi dan Informasi</p>
      <p class="bold">Adukan masalah yang Anda temukan saat menggunakan jasa pelayanan pemerintahan</p>
    </div>
  </div>


</body>

</html>