<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">

    <script src="Script/jquery-3.3.1.min.js"></script>
    <script src="Script/tether.min.js"></script>
    <script src="Script/bootstrap.min.js"></script>
    <script src="Script/fontawesome-all.js"></script>
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <h1>Diskominfo</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="menu-bar">
                        <ul>
                            <li class="li-active"><a th:href="@{'index'}">Beranda</a></li>
                            <li class="space-top"><a th:href="@{'daftar-dinas'}">Departemen Pemerintahan Indonesia</a></li>
                            <li class="space-top"><a th:href="@{'profil'}">Profil</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="content">
                        <h3>Laporan Anda</h3>

                        <table>
                            <tr>
                                <td>Judul</td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>

                            <tr>
                                <td>Bukti</td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>

                            <tr>
                                <td>Detail Laporan</td>
                                <td>
                                    <textarea name="detailLaporan" id="detail-laporan" cols="50" rows="10"></textarea>
                                </td>
                            </tr>

                            <tr>
                                <td>Kategori Dinas</td>
                                <td>
                                    <select name="departemen" id="departemen">
                                        <option value="">Departemen Agama</option>
                                        <option value="">Departemen Hukum dan Hak Asasi Manusia</option>
                                        <option value="">Departemen Kehutanan</option>
                                        <option value="">Departemen Kesehatan</option>
                                        <option value="">Departemen Kelautan dan Perikanan</option>
                                        <option value="">Departemen Pendidikan Nasional</option>
                                        <option value="">Departemen Perdagangan</option>
                                        <option value="">Departemen Pertahanan</option>
                                        <option value="">Departemen Perindustrian</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td style="text-align: center">
                                    <button type="button" class="btn btn-primary">Kirim</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>