<!DOCTYPE html>

<html lang="eng" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>

        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        
        <p class="center" style="font-size: 18px">Pengaduan Anda berhasil terkirim. Terima kasih untuk membantu kami menjadi lebih baik lagi.</p>
        <p class="center" style="font-size: 18px">Tekan <a th:href="@{'pengaduan'}">disini</a> untuk keluar dari halaman ini.</p>
    </body>

</html>