<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profil</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="js/fontawesome-all.js"></script>
</head>

<body>

    <ul class="menu">

        <li title="Beranda">
            <a th:href="@{'index'}" class="home">Beranda</a>
        </li>
        <li title="Pengaduan">
            <a th:href="@{'pengaduan'}" class="pencil">Pengaduan</a>
        </li>
        <li title="Profil">
            <a th:href="@{'profil'}" class="profile page-now">Profil</a>
        </li>
        <li title="Admin">
            <a th:href="@{'berandaAdmin'}" class="exchange">Admin</a>
        </li>
    </ul>

    <div class="content">

        <p class="left margin-20 title-p">Profil</p>

        <div class="profile-user">

            <div class="profile-card">
                <div class="profile-picture">
                    <i class="fas fa-user"></i>
                </div>

                <h1 style="color: #267fdd">Erlangga Laimena</h1>
            </div>

            <div class="profile-information">
                <p>Nomor Telepon</p>
                <h1>+621 0000 000</h1>

                <p>Email</p>
                <h3>erlanggalaimena@gmail.com</h3>
            </div>

        </div>
    </div>


</body>

</html>